<% layout('layouts/boilerplate') %>
    <section id="hero" class="d-flex align-items-center">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                    <h1>MarkScript</h1>
                    <h2>Unleash your productivity with MarkScript: Your Ultimate Tool for Effortless Document Creation
                        and Collaboration.</h2>
                    <div class="d-flex">
                        <a class="btn-get-started scrollto" href="/my-docs">My Documents</a>
                    </div>
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img">
                    <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
                </div>
            </div>
        </div>

    </section>

    <main id="main">

        <section id="featured-services" class="featured-services">
            <div class="container">

                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-laptop"></i></div>
                            <h4 class="title"><a href="">Usability</a></h4>
                            <p class="description">Enhance Your Markdown Experience with MarkScript: Learn Markdown
                                effortlessly with clear documentation, tutorials, and interactive examples. Create and
                                save templates for future use, empowering you to master Markdown syntax. Discover the
                                user-friendly online editor that makes learning and using Markdown a breeze.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-card-checklist"></i></div>
                            <h4 class="title"><a href="">Learnability</a></h4>
                            <p class="description">Discover MarkScript: Your Learnable Online Markdown Editor. We
                                prioritize your learning experience with comprehensive documentation, tutorials, and
                                interactive examples. Master Markdown syntax effortlessly and save templates for future
                                use, empowering you to create and collaborate with ease.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                        <div class="icon-box">
                            <div class="icon"><i class="bi bi-clipboard-data"></i></div>
                            <h4 class="title"><a href="">Customizability</a></h4>
                            <p class="description">Embrace MarkScript: Your Personalized Online Markdown Editor. Tailor
                                your editing experience with our extensive customization options. Choose your preferred
                                font, color scheme, and create custom keyboard shortcuts. Enjoy a Markdown editor that
                                adapts to your unique style and preferences.</p>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section id="about" class="about">
            <div class="container">

                <div class="row">
                    <div class="col-lg-6">
                        <img src="assets/img/about.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 content">
                        <h3>Security And Privacy Assured</h3>
                        <p class="fst-italic">
                            Protect Your Privacy: MarkScript safeguards your data privacy with robust security measures
                            and transparent data handling policies.
                        </p>
                        <ul>
                            <li><i class="bi bi-check-circle"></i> Secure Data Transmission: Enjoy peace of mind knowing
                                your data is encrypted during transmission between your device and our servers.</li>
                            <li><i class="bi bi-check-circle"></i> Stay Malware-Free: MarkScript ensures a safe editing
                                environment, minimizing the risk of malware or viruses compromising your security.</li>
                            <li><i class="bi bi-check-circle"></i> Control Your Integrations: Safely integrate with
                                trusted third-party services, maintaining control over your data and minimizing security
                                risks.</li>
                        </ul>
                        <p>
                            Empower Your Security: Take charge of your security by using strong passwords, enabling
                            two-factor authentication, and following best practices.
                        </p>
                    </div>
                </div>

            </div>
        </section>

        <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
        <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
        <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
        <script src="assets/vendor/php-email-form/validate.js"></script>
        <script src="assets/js/main.js"></script>