<footer class="footer bg-dark py-3 mt-auto">
    <div class="container row">
        <div class="col-5"></div>
        <span class="text-light col-2">&copy;MarkScript 2023</span>
        <div class="col-5"></div>
    </div>
</footer>